<?php
/*
@ Company : Brainvire Infotech.
@ author : dhaval.kanojiya@brainvire.com
@ Desc : Socail Login
*/
?>

<?php
$helper = $this->helper('Brainvire\SocialLogin\Helper\Data');
if($helper->isFakeMail()) : ?>
	<div data-mage-init='{"pslogin":{},"loaderAjax":{},"loader":{}}' style="display: none;"></div>
	<script type="text/javascript">
	//<![CDATA[
		require([
		    'jquery'
		], function(pjQuery) {
		    // 'use strict';
		    pjQuery(document).ready(function() {
		    	function customerEditFakeEmail() {
					pjQuery("#email").removeClass("valid").addClass("mage-error").after('<div class="mage-error pslogin-fake-email" id="email-error" for="email" generated="true">Please enter valid email address.</div>');

				    var reset = true;
				    pjQuery("#email").on('click focus', function() {
				    	if(reset) {
				    		pjQuery(this).removeClass("mage-error").addClass("valid").val('');
				    		pjQuery('#email-error.pslogin-fake-email').remove();
				    	}
				    	reset = false;
				    });
				}
		        customerEditFakeEmail();
		    });
		});
	//]]>
	</script>
<?php endif; ?>