.brainvire-quickview{ display: none}
.brainvire-quickview:hover{ display: block}
.box-gotoproduct #product-gotoproduct-button {width: 100%; padding: 14px 17px; font-size: 1.8rem; text-align: center}
.brainvire-quickview-catalog-product-view .box-tocart .action.tocart {width: 100%;}
.brainvire-quickview-catalog-product-view .page-wrapper .page-main {margin: 20px 0;}
.page-products .product-item .brainvire-quickview {display: none}
.brainvire-quickview-catalog-product-view .reviews-actions .add {display: none;}
@media (min-width: 640px) {
    .page-products .products-grid .product-item {position: relative}
    .page-products .products-grid .product-item  .product-item-inner {margin: 9px -9px 0 -10px}
    .page-products .products-grid .product-item  .product-item-details {position: relative;}
    .page-products .products-grid .product-item .product-item-info:hover .brainvire-quickview.brainvire_quickview_button_v1 {display: block;position: absolute;top: -66px;z-index: 9;width: 100%;text-align: center;color: #555;background: rgba(255,255,255,0.7);font-size: 14px;text-decoration: none;}
    .page-products .products-grid .product-item .product-item-info .brainvire-quickview.brainvire_quickview_button_v1 span {padding: 18px; display: block;}
    .page-products .products-grid .product-item .product-item-info:hover .brainvire-quickview.brainvire_quickview_button_v2 {display: block; z-index: 9; position: absolute; text-indent: -10000px; width: 33px; height: 35px; background-image: url('../images/quickview.png'); background-repeat: no-repeat; top: -46px; right: 0px;}
    .brainvire-quickview.brainvire_quickview_button_v1 > span{
    background: #1979c3 none repeat scroll 0 0;
    color: #fff;
    left: -9px;
    max-width: 221px;
    position: relative;
    width: 93%;
}
}
