<?php
/*
@ Company : Brainvire Infotech.
@ author : dhaval.kanojiya@brainvire.com
@ Desc : Socail Login
*/
?>

<tr id="psloginfree_general_sortable_drag_and_drop" <?php echo (!$buttons = $this->getButtons()) || count($buttons) <= 1 ? 'style="display: none;"' : ''; ?>>
    <td class="label"><?php echo $this->element->getLabel(); ?></td>
    <td colspan="3" class="social-td">        
        <div class="div-visible"><?php echo __('Visible Buttons'); ?></div>
        <div class="div-hidden"><?php echo __('Hidden Buttons'); ?></div>

        <div class="psloginfree-form">
	        <ul id="sortable-visible" data-list="visible" class="soc-networks">
	        <?php foreach ($this->getPreparedButtons('visible') as $button) { ?>
	            <li id="visible-<?php echo $button['type']; ?>" class="ui-state-default <?php echo $button['type']; ?>" data-enable="psloginfree_<?php echo $button['type']; ?>_enable">
                    <span class="soc-li-icon"></span>
                    <span class="soc-li-text"><?php echo $this->escapeHtml(ucfirst($button['type'])); ?></span>
	            </li>
	        <?php } ?>
	        </ul>
	
	        <ul id="sortable-hidden" data-list="hidden" class="soc-networks">
	        <?php foreach ($this->getPreparedButtons('hidden') as $button) { ?>
	            <li id="hidden-<?php echo $button['type']; ?>" class="ui-state-highlight <?php echo $button['type']; ?>" data-enable="psloginfree_<?php echo $button['type']; ?>_enable">
                    <span class="soc-li-icon"></span>
                    <span class="soc-li-text"><?php echo $this->escapeHtml(ucfirst($button['type'])); ?></span>
	            </li>
	        <?php } ?>
	        </ul>
		</div>
    </td>
</tr>