<?php
/*
@ Company : Brainvire Infotech.
@ author : dhaval.kanojiya@brainvire.com
@ Desc : Socail Login
*/
?>

<?php if($this->getHelper()->hasButtons()) : ?>
    <div class="pslogin-block pslogin-register" data-mage-init='{"pslogin":{}}'>
       
        <div class="pslogin-buttons <?php echo $this->showRegisterFullButtons()? 'pslogin-buttons-showfull' : ''; ?>">
            
            <?php if(!$this->showRegisterFullButtons()) : ?>
                <div class="pslogin-spacer">
                    <?php echo __('Register with your social account'); ?>
                </div>
                <br />
            <?php endif; ?>

            <ul>
            <?php foreach ($this->getPreparedButtons() as $button) : ?>
                <li class="pslogin-button <?php echo $button['type']; ?>" title="<?php echo $this->escapeHtml($button['register_text']); ?>">
                    <a class="pslogin-button-link pslogin-button-click" rel="nofollow" href="javascript:void(0);" data-href="<?php echo $button['href']; ?>" data-width="<?php echo $button['popup_width']; ?>" data-height="<?php echo $button['popup_height']; ?>" >
                        
                        <?php if($this->showRegisterFullButtons()) : ?>
                            <?php if(!empty($button['image']['register'])) : ?>
                                <img class="pslogin-button-image" src="<?php echo $this->escapeHtml($button['image']['register']); ?>" />
                            <?php else : ?>
                                <span class="pslogin-button-auto">
                                    <span class="pslogin-button-icon">
                                        <?php echo !empty($button['image']['icon'])? '<img class="pslogin-button-icon-image" src="'. $this->escapeHtml($button['image']['icon']) .'" />' : ''; ?>
                                    </span>
                                    <span class="pslogin-button-text"><?php echo $this->escapeHtml($button['register_text']); ?></span>
                                </span>
                            <?php endif; ?>
                        <?php else : ?>
                            <?php if(!empty($button['image']['icon'])) : ?>
                                <img class="pslogin-button-image" src="<?php echo $this->escapeHtml($button['image']['icon']); ?>" />
                            <?php else : ?>
                                <span class="pslogin-button-auto">
                                    <span class="pslogin-button-icon"></span>
                                </span>
                            <?php endif; ?>
                        <?php endif; ?>
                    </a>
                </li>
            <?php endforeach; ?>
            </ul>
        </div>

    </div>
    <div style="clear: both;"></div>
<?php endif; ?>