<?php
/*
@ Company : Brainvire Infotech.
@ author : dhaval.kanojiya@brainvire.com
@ Desc : Socail Login
*/
?>

<?php if($this->showPopup()): ?>
	<div class="pslogin-addedoverlay"></div>

	<div class="pslogin-pop-up-form" data-mage-init='{"pslogin":{}}'>
		<div id="pslogin-pop-up-bg" class="pslogin-cf fadeInDownBig">
			<div class="pslogin-share">
				<h2><?php echo $this->escapeHtml($this->getTitle()); ?></h2>
				<a href="#" class="prpop-close-btn">&#10005;</a>
				<p><?php echo nl2br($this->getDescription()); ?></p>
                <div class="button-top"></div>
                <p class="ta-center">
                    <?php foreach ($this->getButtons() as $button): ?>
                        <a href="<?php echo $this->escapeHtml($button['href']); ?>" target="_blank" title="<?php echo $this->escapeHtml($button['name']); ?>">
                            <img src="<?php echo $this->escapeHtml($button['image']); ?>" border="0" alt="<?php echo $this->escapeHtml($button['name']); ?>"/>
                        </a>    
                    <?php endforeach; ?>

                    <br />
                    <a href="https://api.addthis.com/oexchange/0.8/forward/email/offer?url=<?php echo $this->escapeHtml(urlencode($this->getPageUrl())); ?>&ct=1&title=-&pco=tbxnj-1.0" target="_blank"><img src="https://cache.addthiscdn.com/icons/v2/thumbs/32x32/email.png" border="0" alt="Email"/></a>
                    <a href="https://www.addthis.com/bookmark.php?source=tbx32nj-1.0&v=300&url=<?php echo $this->escapeHtml(urlencode($this->getPageUrl())); ?>&ct=1&title=-&pco=tbxnj-1.0" target="_blank"><img src="https://cache.addthiscdn.com/icons/v2/thumbs/32x32/addthis.png" border="0" alt="Addthis"/></a>
                </p>
			
			</div>
		</div>
	</div>
<?php endif; ?>