<?php
/*
@ Company : Brainvire Infotech.
@ author : dhaval.kanojiya@brainvire.com
@ Desc : Socail Login
*/
?>

<?php
$helper = $this->helper('Brainvire\SocialLogin\Helper\Data');
if( ($image = $helper->getPhotoPath(false)) && $helper->photoEnabled() ): ?>
<li class="pslogin-welcome-msg">
    <img src="<?php echo $image; ?>" />
</li>
<?php endif; ?>
